<!-- components/header.html -->
<header>
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <i class="fas fa-home"></i>
        <h1>LocaPay</h1>
      </div>

      <nav>
        <ul>
          <li>
            <a href="dashboard.html" class="nav-link" data-page="home">
              <i class="fas fa-chart-bar"></i> Dashboard
            </a>
          </li>
          <li>
            <a href="imoveis.html" class="nav-link" data-page="imoveis">
              <i class="fas fa-building"></i> Imóveis
            </a>
          </li>
          <li>
            <a href="inquilinos.html" class="nav-link" data-page="inquilinos">
              <i class="fas fa-users"></i> Inquilinos
            </a>
          </li>
           <li>
            <a href="financeiro.html" class="nav-link" data-page="inquilinos">
              <i class="fas fa-users"></i> Financeiro
            </a>
          </li>
        </ul>
      </nav>

      <div class="user-menu">
        <div class="inquilino-avatar">LS</div>
        <span id="nome-locador">-</span>
      </div>
    </div>
  </div>
</header>
