/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fb;
  color: #333;
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f80ed;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

  /* Tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  thead {
    background-color: #2f80ed;
    color: white;
  }
  
  tr {
    cursor: pointer;
    
    
  }

  .tr-selected {
    background-color: #f1f1f1;
  }

  th, td {
    padding: 12px;
    text-align: center  ;
    border-bottom: 1px solid #eee;
  }
  
  /* Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .nav a {
    margin-left: 0;
    margin-top: 10px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  nav{
    display: flex;
    flex-direction: row;
  }

  .nav a {
    margin-left: 0;
    margin-top: 8px;
    font-size: 14px;
  }

  table {
    font-size: 12px;
  }

  th, td {
    padding: 8px;
  }
}

  
  